body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.canvas{  
    background-color: whitesmoke;
    position: relative;
} 



.uploadedImage{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 100px;
}


.button{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: max-content;
  margin: 10px;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.input{
    width: 470px;
    height:50px;
    font-size: larger;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    
}
.input:focus{
  color:#243b55;
  outline: none;
  border: 5px solid #fb8332;
}

.home-details{
    height:100vh;
    margin:0;
    padding:0;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

h1{
    color: white;
     font-family: 'Permanent Marker', cursive;
     font-size: 40px;
}

.box{
  align-items: center;
  background-clip: padding-box;
  background-color: #243b55;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  
  justify-content: center;
  line-height: 1.25;
  color: #fff;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  cursor: default;
}

.users{
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  text-align: center;
  margin: 10px;
  font-weight: 600;
}

h2{
  font-size: 25px;
  color: white;
}